.banner-container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.svg-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Si quieres tratar distinto el banner de dashboard, si no basta con lo anterior lo puedes dejar así: */
.dashboard-svg {
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .banner-container {
    height: 250px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .banner-container {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .banner-container {
    height: 350px;
  }
}
