/* Estilos para el contenedor principal */
.banner-container {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Estilos para la imagen regular (no SVG) */
.banner-image {
    width: 100%;
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    display: block;
    object-fit: cover;
    max-width: 100%;
}

/* Wrapper para el SVG como fondo */
.svg-wrapper {
    width: 100%;
    height: 50px; /* Altura fija para escritorio */
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
    .banner-container {
        height: 192px; /* Altura fija para móvil según el inspector */
    }

    .banner-image {
        height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    }

    .svg-wrapper {
        height: 100%; /* Toma toda la altura del contenedor en móvil */
        background-size: 100% 100%; /* Estira la imagen para llenar todo el espacio */
    }
}
